/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */

.container {
    padding: 0 1rem;
    max-width: 1180px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

.row [class^="col"] {
    padding: 0 1rem;
}

.row .col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.row .col-1 {
    flex: 0 0 calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.row .col-2 {
    flex: 0 0 calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.row .col-3 {
    flex: 0 0 calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.row .col-4 {
    flex: 0 0 calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.row .col-5 {
    flex: 0 0 calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.row .col-6 {
    flex: 0 0 calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.row .col-7 {
    flex: 0 0 calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.row .col-8 {
    flex: 0 0 calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.row .col-9 {
    flex: 0 0 calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.row .col-10 {
    flex: 0 0 calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.row .col-11 {
    flex: 0 0 calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.row .col-12 {
    flex: 0 0 calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}

/* Utility */

.bg-gray {
    background: lightgray;
}

.justify-content-between {
    justify-content: space-between;
}